<h2 class="page-header">Edit Center <%= center.center %></h2>
<form action="/units/putEditedCenter/<%= center.center %>?_method=PUT" method="POST">
    <%- include('_center_form_fields') %>
    <div class="btn-row">
        <div></div>
        <div></div>
            <a class="btn btn-primary" href="/units/setPOCenters/<%= poCode %>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>