<h2 class="page-header">Edit PO -> Reset Password</h2>
<form action="/units/putEditedPass/<%= po.po_code %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <!-- <div class="form-item"> -->
        <div class="form-row">
        </div>
        <div class="form-row">
        </div>
        <div class="form-row">
            <div class="form-item-column">
            </div>
            <div class="form-item-column">            
                <button class="btn btn-primary" type="submit">Reset</button>
            </div>
            <div class="form-item-column">
                <a class="btn btn-primary" href="/units/pos/<%= unitCode %>">Cancel</a>
            </div>
            <div class="form-item-column">
            </div>
        </div>
