</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ for Kabalikat para sa Maunlad na Buhay, Inc.</p>
  </div>
</div>
<script type="text/javascript" src="/javascripts/cleave.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
<script type="text/javascript" src="node_modules/sweetalert2.dist.sweetalert2.all.min.js"></script>
<script>
  function sweetAlert() {
    Swal('Hello World!')
  }
</script>
</body>
</html>
