<header> 
<nav>
    <a href="/">Budget Module</a>
    <ul>
        <li> <a href="/coas">Chart of Accounts</a></li>
        <li><a href="/coas/new">Add new Chart of Accounts</a></li>
    </ul>
</nav>
</header>