<header> 
    <link rel="stylesheet" href="../node_modules/sweetalert2/dist/sweetalert2.css"/>
<nav class="header-nav">
    <a class="header-title" href="/">Budget Module</a>
    <ul>
        <li class="header-link"> <a href="/coas">Chart of Accounts</a></li>
        <li class="header-link"><a href="/coas/new">New CoA</a></li>
        <li class="header-link"> <a href="/sub_ledgers">Sub-Ledger Accounts</a></li>
        <li class="header-link"><a href="/sub_ledgers/new">New SLA</a></li>
        <li class="header-link"> <a href="/cost_centers">Cost Centers</a></li>
        <li class="header-link"><a href="/cost_centers/new">New Cost Center</a></li>
    </ul>
</nav>
</header>