<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Register</h2>
  
    <form class="login-container" action="/admins/saveRegister" method="POST">
        <label for="name">Name</label>
        <p><input style="text-transform: uppercase" type="text" placeholder="Name" id="name" name="name" required autofocus ></p>
        <label for="role">Role</label>  
        <p><input style="text-transform: uppercase" type="text" placeholder="Role" id="role" name="role" required maxlength="3"></p>
        <label for="assCode">Assign Code</label>  
        <p><input style="text-transform: uppercase" type="text" placeholder="Assign Code" id="assCode" name="assCode" required maxlength="3">
            </p>
        <label for="email">E-mail</label>  
      <p><input type="email" placeholder="Email" name="email" required></p>
      <label for="name">Password</label>  
      <p><input type="password" placeholder="Password" name="password" required></p>
        <button type="submit">Register</button>
        <a href="/">Cancel</a>
      </form>
  </div>