<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Budget Module</title>
</head>
<body>
    <div class="login">
        <div class="login-triangle"></div>
    
            <h2 class="login-header">Login</h2>
    
            <form class="login-container" action="/login" method="POST">
                <label for="email">E-mail</label>  
                <p><input type="email" placeholder="Email" name="email" required></p>
                <label for="name">Password</label>
                <p><input type="password" placeholder="Password" name="password" required></p>
                <button class="login-submit" type="submit">Login</button>
                <%- include('./partials/errorMessage') %>    
            </form>
            <a href="/admins/register">Register</a>
        </div>

    </div>
    <div class="footer-padding"></div>
        <!-- <div class="footer">
            <p>Made with ❤️ for Kabalikat para sa Maunlad na Buhay, Inc.</p>
    </div> -->
    <script type="text/javascript" src="/javascripts/main.js"></script>

</body>
</html>
