<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Register</h2>
  
    <form class="login-container" action="/register" method="POST">
        <label for="email">E-mail</label>  
      <p><input type="email" placeholder="Email" required></p>
      <label for="name">Password</label>  
      <p><input type="password" placeholder="Password"></p>
        <button type="submit">Register</button>
    </form>
    <a href="/login">Register</a>
  </div>