<h2 class="page-header">New Area Entry </h2>
<form action="/regions/postNewArea/<%= regionCode %>" method="POST">
            <%- include('../partials/errorMessage') %>    
            <%- include('_area_form_fields') %>
<div class="form-row">
    <div class="form-item-column"></div>
    <div class="form-item-column">
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
    <div class="form-item-column">
        <a class="btn btn-primary" href="/regions/area" >Cancel</a>
    </div>
    <div class="form-item-column"></div>
</div>
</form>