<h2 class="page-header">Edit Employee -> Reset Password</h2>
<form action="/regions/putEditedPass/<%= emp.region + emp.assign_code %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-item">
        <div class="form-row">
            <button class="btn btn-primary" type="submit">Reset</button>
            <a class="btn btn-primary" href="/regions/employees/<%= emp.region %>">Cancel</a>
        </div>
    </div>
</form>