<label>Code</label>
<input type="text" name="code" value="<%= cost_center.code %>">
<label>Description</label>
<input type="text" name="description" value="<%= cost_center.description %>">
<label>Type</label>
<input type="text" name="type" value="<%= cost_center.type %>">
