<label>Code</label>
<input type="text" name="code" value="<%= cost_center.code %>" autocomplete="off">
<label>Description</label>
<input type="text" name="description" value="<%= cost_center.description %>" autocomplete="off">
<label>Type</label>
<input type="text" name="type" value="<%= cost_center.type %>" autocomplete="off">
