<h2 class="page-header">Edit Sub-Ledger Account</h2>
<form action="/sub_ledgers/<%= sub_ledger.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-item">
        <a class="btn btn-primary" href="/sub_ledgers">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>