<h2 class="page-header">New Sub-Ledger Accounts</h2>
<form action="/sub_ledgers" method="POST">
<%- include('_form_fields') %>
<a href="/sub_ledgers">Cancel</a>
<button type="submit">Create</button>
</form>