<h2 class="page-header">Edit Employee -> Reset Password</h2>
<form action="/areas/putEditedPass/<%= areaCode + emp.branch %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <div class="form-item">
        <div class="form-row">
            <button class="btn btn-primary" type="submit">Reset</button>
            <a class="btn btn-primary" href="/areas/employees/<%= emp.area %>">Cancel</a>
        </div>
    </div>
</form>