

	<section class="s1">
		<div class="main-container">

            <div class="intro-wrapper">
				<div class="nav-wrapper">

					<!-- Link around dots-wrapper added after tutorial video -->
					<a href="index.html">
						<div>  
                           <h4> Branch - <%= branchCode %></h4>
						</div>
					</a>
					

					<ul id="navigation">
						<li><a href="index.html#contact">As of Date Today</Date></a></li>

					</ul>
				</div>

				<div class="left-column">
                    <table class="content-table-brnView">
                        <tr>
                            <th>PARTICULARS</th>
                            <th></th>
                            <th>BUDGET</th>
                            <th>ACTUAL</th>
                            <th>%AGE</th>
                            <th>VARIANCE</th>
                        </tr>
                        <tr>
                            <td class="td-bold">TOTAL DISBURSEMENT</td>
                        </tr>
                        <tr class="td-bold">
                            <td>  AMOUNT OF LOAN</td>
                            <td></td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Group Loan</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                        <tr>
                            <td span="2"></td>
                            <td>Agri Loan</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                        <tr>
                            <td span="2"></td>
                            <td>Individual Loan</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                        <tr>
                            <td span="2"></td>
                            <td>Emergency Loan</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                        <tr class="td-bold">
                            <td> NUMBER OF CLIENTS</td>
                            <td></td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Group Loan</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                        <tr>
                            <td span="2"></td>
                            <td>Agri Loan</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                        <tr>
                            <td span="2"></td>
                            <td>Individual Loan</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                        <tr>
                            <td span="2"></td>
                            <td>Emergency Loan</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                            <td> xxx</td>
                        </tr>
                    </table>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
                            <ul id="navigation">
                                <lh>SETTINGS</lh>
                                <li><a href="/branches/employees/<%= branchCode %>">EMPLOYEES</a></li>
                                <li><a href="/branches/units/<%= branchCode %>">UNITS</a></li>
                                <li><a href="index.html#contact">CENTERS</a></li>
                                <li><a href="index.html#contact">CLIENTS</a></li>
                                <li><a href="/branches/budget/<%= branchCode %>">BUDGETS</a></li>
                            </ul>
                            <div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
