<h2 class="page-header">Edit Employee -> Reset Password</h2>
<form action="/deds/putEditedPass/<%= ded + region.region + region._id %>?_method=PUT" method="POST">
    <%- include('_region_form_fields') %>
    <div class="form-item">
        <div class="form-row">
            <button class="btn btn-primary" type="submit">Reset</button>
            <a class="btn btn-primary" href="/deds/region/<%= ded %>">Cancel</a>
        </div>
    </div>
</form>