<div class="form-row">
    <div class="form-item-column">
        <label>Region Code</label>
        <input style="text-transform: uppercase" type="text" name="regionCode" value="<%= region.region %>" autocomplete="off" maxlength="3">
    </div>
    <div class="form-item-column">
        <label>Region Description</label>
        <input style="text-transform: uppercase" type="text" name="regionDesc" value="<%= region.region_desc %>" autocomplete="off">
    </div>
    <div class="form-item-column">
    
    </div>

</div>
