
<h2 class="page-header">SET NEW REGIONS's Entry </h2>
<form action='/deds/postNewRegions' method="POST">
            <%- include('../partials/errorMessage') %>    
            <%- include('_setRegions_form_fields') %>
<div class="btn-row">
    <div></div>
    <div></div>
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-primary" href='/admins/region'>Cancel</a>
</div>
</form>