<div class="form-row">
    <div class="form-item-column">

    </div>
    <div class="form-item-column">
        <label>Region Code</label>
        <input type="text" name="regionCode" value="<%= region.code %>" autocomplete="off">
    </div>
    <div class="form-item-column">
        <label>Region Description</label>
        <input type="text" name="regionDesc" value="<%= region.description %>" autocomplete="off">
    </div>
    <div class="form-item-column">
    </div>
</div>
