<div>
    <h1 class="dashboard-page"> Dashboard page!</h1>
    <!-- <ul> -->
            <!-- <li class="header-nav header-link"> <a href="/admins/register">Register User</a></li> -->
            <!-- <li class="header-nav header-link"><a href="/admins/budget">Budget</a></li> -->
            <!-- <li class="header-nav header-link"> <a href="/">Home</a></li> -->

    <!-- </ul> -->

</div>