<h2 class="page-header">New Cost Center</h2>
<form action="/cost_centers" method="POST">
<div class="form-row">
    <div class="form-item">
        <%- include('_form_fields') %>
        <a class="btn btn-primary" href="/cost_centers">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>        
    </div>
</div>
</form>