            <label>Code </label>
            <input type="text" name="code" value="<%= coa.code %>" autocomplete="off">
            <label>Description </label>
            <input type="text" name="description" value="<%= coa.description %>" autocomplete="off">
            <label>Type </label>
            <input type="text" name="type" value="<%= coa.type %>" autocomplete="off">
