<h2 class="page-header">New Chart of Accounts</h2>
<form action="/coas" method="POST">
    <div class="form-row">
    </div>
<div class="form-row">
        <div class="form-item">
            <%- include('_form_fields') %>
            <a class="btn btn-primary" href="/coas">Cancel</a>
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </div>
</form>