<h2 class="page-header">New Budget Entry</h2>
<form class="" action="/budgets" method="POST">
<%- include('_form_fields') %>
<a href="/budgets">Cancel</a>
<button type="submit">Create</button>
</form>