<div class="form-row">
    <div class="form-item-column">
        <label>Area Code</label>
        <input type="text" name="areaCode" value="<%= area.area %>" autocomplete="off">
    </div>
    <div class="form-item-column">
        <label>Area Description</label>
        <input type="text" name="areaDesc" value="<%= area.area_desc %>" autocomplete="off">
    </div>
    <div class="form-item-column">
    
    </div>

</div>
