<h2 class="page-header">Edit Area -> Reset Password</h2>
<form action="/regions/putEditedPass/<%= area.region + area.area %>?_method=PUT" method="POST">
    <%- include('_area_form_fields') %>     
    <div class="form-item">
        <div class="form-row">
            <button class="btn btn-primary" type="submit">Reset</button>
            <a class="btn btn-primary" href="/regions/areas/<%= area.region %>">Cancel</a>
        </div>
    </div>
</form> 