
<h2 class="page-header">SET NEW REGIONS' Entry </h2>
<form action='/units/postNewAreas' method="POST">
            <%- include('../partials/errorMessage') %>    
            <%- include('_setAreas_form_fields') %>
<div class="btn-row">
    <div></div>
    <div></div>
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-primary" href='/regions/area'>Cancel</a>
</div>
</form>